<!DOCTYPE html>
<html>
      <head>
            <title>
                  {{title}}
            </title>
            <link ref = "styles.css" href="/css/styles.css"/>
            <body>
                  <div class = "main-content">
                        {{>header}}
                  </div>
            </body>
      </head>
</html>